@charset "UTF-8";
@font-face {
    font-family:'Android' ;
    src: url('/fontes/idroid.otf') format(opentype);
    font-size: normal;
    font-weight: bold;
}
:root {
    --fonte-padrao: Arial, verdana, helvetica
}
header {
    text-shadow: 1px;
    color: white;
    background-image: linear-gradient(to bottom, rgb(0, 255, 170), rgba(0, 0, 0, 0.596));
    box-shadow: 0px 1px 0px black;
}

nav > a{
    margin: 10px;
    color: white;
    text-decoration: none;
}

nav > a:hover {
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 2px;
}

body {
    margin: auto;
    background-color: rgb(0, 255, 170);
    
}

main {
    min-width: 320px;
    max-width: 800px;
    background-color: white;
    border: 1px  solid rgba(0, 0, 0, 0.37);
    width: 75%;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
h1,h2 {
    font-family: 'Android';
    font-size: normal;
    font-weight: bold;
}

h2 {
    color: green;
}

h3 {
    text-indent: 10px;
    color: white;
    padding: 2px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    background-color: green;
    
}
p {
    text-indent: 20px;
    text-align: justify;
}

a {
    color: green;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;
}

article {
    margin: 10px;
    border-radius: 10px;
    
}

strong {
    color: green;
}

aside {
    
    border-radius: 15px 15px 0px 0px;
    margin-top: 10px;
     background-color: rgb(0, 255, 170)
}

aside > ul {
    columns: 2;
}

footer > p {
    background-color: green;
    text-align: center;
}


#h1main {
    color: green;
    background-image: linear-gradient(to right, rgba(74, 230, 74, 0.637), white);
}

div.video {
    background-color: rgb(3, 70, 3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.topo {
    color: white;
    text-align: center;
}

.segundot {
    background-image: linear-gradient(to right, rgba(74, 230, 74, 0.637), white);
}

.direita {
    display: inline;
}
#linkandroid {
    text-decoration: none;
    color: green;
}